.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #8CC63F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding-top: 10px;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-header2 {
  
  padding: 20px;
  font-size: calc(5px + 2vmin);
  color: rgb(39, 41, 39);
}

.App-title {
  background-color: coral;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-button {
  background-color:#0082C8; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}

.App-formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  margin-block-end: 10px;
}

.form-container {
padding: 20px;
background-color: #4CAF50;
font-size: calc(10px + 2vmin);
color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
